/* Declare commonly used variables /ex. "background-color: var(--name-of-variable)"/ */
:root {    
    --white-color: #ffffff;
    --background-color: #f3f3f3;
    --h2-dark-font-color: #213757;
    --p-dark-font-color: #rgba(33, 55, 87, 0.7);
    --blue-background-color: #186FEB;
    --grey-color: rgba(202, 200, 196, 0.6);
    --white-background-opacity: rgba(255, 255, 255, 0.3);
    --white-background-opacity-hovered: rgba(175, 175, 175, 0.6);
    --light-blue-color: rgba(11, 200, 255, 0.9);
    --light-blue-color-hovered: rgba(9, 138, 177, 0.9);
    --light-grey-background-color: #E1EAF6;
    --footer-background-color: #213757;
    --footer-p-color: rgba(255, 255, 255, 0.6);
}

html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--background-color);
  font-family: "Roboto", "Poppins";  
}

.wrapper {
  width: 1300px;
  margin: 0 auto;
  padding: 0 100px;
}

section a.btn {
  display: inline-block;
}

/* Header - Navigation */

.dot {
  color: var(--light-blue-color);
  font-size: 40px;
}

.header-logo {
  color: var(--white-color);
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 25px;
  letter-spacing: -0.03em;
  padding-bottom: 10px;
}

.header-phone-number {  
  color: var(--white-color);
  font-family: Poppins;
  font-style: normal;  
  font-size: 10px;
  letter-spacing: -0.03em;
}

.desktop-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* box-shadow: 0px 3px 100px rgba(0, 0, 0, 0.8);  */
  padding: 30px 50px;
  /* padding-right: 0; */  
  overflow: hidden;
  border-radius: 100px;

  background-color: none;
  transition: background-color 200ms linear;

  position: fixed;
  z-index: 200;
  width: calc(1300px - 200px);
  top: 30px;
  height: 50px;
}

.desktop-nav.scrolled {
  background-color: rgba(0, 0, 0, 0.2);
  transition: background-color 200ms linear;
}

.desktop-nav.hovered {
  background-color: rgba(0, 0, 0, 0.7);
  transition: background-color 200ms linear;
}

.desktop-nav .logo a {
  display: flex;  
  text-decoration: none;
  align-items: center;
}

.desktop-nav .logo a p, .desktop-nav .logo a img {
  margin: 0 5px;
}

.desktop-nav .menu-items {
  display: flex;
  list-style: none;
}

.desktop-nav .menu-items li {
  margin: 0 15px;
}

.desktop-nav a {
  color: var(--white-color);
}

.desktop-nav a:hover {
  color: var(--light-blue-color);
}

.desktop-nav .menu-items li:nth-last-of-type(1) {
  margin-right: 0;
}

.desktop-nav .menu-items li a {
  text-decoration: none;  
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;  
}

.desktop-nav .menu-items li a.active {
  color: var(--light-blue-color); 
}

.btn {  
  color: var(--white-color);
  font-weight: 500;
  font-size: 14px;
  border-radius: 100px;
  padding: 14px 25px;
  text-decoration: none;
}

a.btn.btn-background {
  background-color: var(--white-background-opacity);
}

a.btn.btn-background:hover {
  color: var(--white-color);
  background-color: var(--white-background-opacity-hovered);  
}

/* header section */

.header-container {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-between;  
  color: var(--white-color);
}

.header-container .left {
  flex: 1;
}

.header-container .left h1 {
  font-family: Poppins;
  font-weight: 900;
  font-size: 50px;  
  padding-bottom: 20px;  
}

.header-container .left .btn {
  margin-right: 30px;  
  border: 1px solid var(--white-color);
  font-weight: bold;
}

.header-container .left .btn:hover {
  background-color: var(--white-background-opacity);
}

.header-container .left .btn.cyan {  
  border: 1px solid var(--light-blue-color);
  background-color: var(--light-blue-color);  
}

.header-container .left .btn.cyan:hover {  
  border: 1px solid var(--light-blue-color-hovered);
  background-color: var(--light-blue-color-hovered);  
}

.header-container .right {
  padding-right: 30px;
}

.header-content {
  width: 600px;
  padding-bottom: 40px;      
}

.header-content h1, .header-content p {
  line-height: 1.5em;
}

.header-content h1 {
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 50px;
  line-height: 69px;
  letter-spacing: -0.03em;
}

.header-content p {
  font-size: 18px;
  line-height: 30px;
  font-weight: 100;
}

.header-bg {
  position: absolute;
  top: 0;
  left: 0;  
  margin: 0 0;
  width: 100%;
  z-index: -1;  
}

/* Animation  */

.desktop-nav {  
  animation: fadeDown 500ms forwards;
  animation-delay: 200ms;   
}

@keyframes fadeDown {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.header-container .left {
  opacity: 0;
  animation: fadeIn 500ms forwards;
  animation-delay: 400ms; 
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

/* Concept section */

.concept-section {
  padding: 32px 50px;
  margin-top: 100px;
}

.concept-section .concept-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;  
}
.concept-section .concept-container .img {
  height: 680px;    
  padding-top: 70px;
}

.concept-section h2, .concept-section p {
  text-align: center;
  color: var(--h2-dark-font-color);
  padding: 10px 10px;
}

.concept-section h2 {
  width: 400px;
  font-family: "Poppins";
  font-weight: bold;
  font-size: 50px;  
}

.concept-section p {
  width: 550px;
  font-family: "Roboto";
  font-size: 20px;
  line-height: 30px;  
  font-weight: 100;
}

/* Subscribe section */

.subscribe-section {
  background-color: var(--light-grey-background-color);  
  padding: 32px 50px;
  margin-top: 70px;
}

.subscribe-section .subscribe-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;   
}

.subscribe-section .subscribe-container h2 {
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 50px;
  color: var(--h2-dark-font-color);  
}

.subscribe-section .subscribe-container .plan img {
  height: 550px;
  padding-top: 70px;
}

/* About section */

.about-section {  
  padding: 32px 50px;
  width: auto;  
}

.about-section .about-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.about-section .about-container .about-content {
  display: flex;
  flex-direction: row;
}

.about-section .about-container h3, .about-section .about-container h2, .about-section .about-container p {
  color: var(--h2-dark-font-color);  
}

.about-section .about-container .about-content p {
  width: 450px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
}

.about-section .about-container .about-content .about-text {
  display: flex;
  flex-direction: column;
}

.about-section .about-container h2 {
  text-align: center;
  width: 400px;
  font-family: "Poppins";
  font-weight: bold;
  font-size: 50px;
}

.about-section .about-container .about-content h3 {
  font-family: Poppins;
  font-weight: bold;
  font-size: 30px; 
  padding-top: 30px;
}

.about-section .about-container .about-content img {
  height: 545px;
  width: 600px;
}

/* Footer section */

footer {
  background-color: var(--footer-background-color);
}

.footer-container {
  display: flex;
  justify-content: space-between;
  padding: 60px 0px;
}

.footer-container p {
  color: var(--footer-p-color);
  font-family: Roboto;
  font-style: normal;
  font-weight: 100;
  font-size: 14px;
  padding: 5px 0px;
}

.footer-container h3 {
  color: var(--white-color);
  font-family: Roboto;
  font-style: normal;  
  font-size: 18px;
  margin-bottom: 20px;
  font-weight: 100;
}

.footer-container a {
  text-decoration: none;  
  color: var(--footer-p-color);
}

.footer-container ul {
  list-style: none;
  padding: 0px;
}

.footer-container li {
  padding: 5px 0px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
}

.footer-container input {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 4px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  align-items: center;
  border: 0;
  height: 30px;
  width: 250px;
  margin-top: 10px;
}

.footer-container .payment-icons {
  margin-top: 10px;  
}

.footer-container .payment-icons img {
  width: 40px;
  height: 25px;
  margin-right: 5px;
}